body{
    background-color:rgb(34,63,195);
    background: linear-gradient(228deg, rgba(34,63,195,1) 0%, rgba(253,45,45,1) 100%);
}

h1{
    text-align: center;
    background: rgb(240,226,0);
background: linear-gradient(228deg, rgb(12, 11, 1) 31%, rgba(253,67,45,1) 66%, rgba(171,52,101,1) 100%);
color: rgb(255, 255, 255);
}
